In [ ]:
# https://openweathermap.org/api

In [ ]:
#  API key:  e4bdbda3f1871fe8b7ebffc46c9f7db6

In [94]:
import pandas as pd
import json
import requests

In [101]:
pd.set_option('display.max_columns', None)
pd.options.display.max_rows=100

In [ ]:
https://api.openweathermap.org/data/3.0/onecall?lat={lat}&lon={lon}&exclude={part}&appid={api_key}
https://api.openweathermap.org/data/2.5/weather?q=London,uk&APPID=e4bdbda3f1871fe8b7ebffc46c9f7db6

In [15]:
#  SUBSCRIBE
lat = '52.237049'
lon = '21.017532'
part = 'current'
api_key = 'e4bdbda3f1871fe8b7ebffc46c9f7db6'
api_url = f'https://api.openweathermap.org/data/3.0/onecall?lat={lat}&lon={lon}&exclude={part}&appid={api_key}'

In [82]:
# FREE ACCESS
city_name = 'Warsaw'
units = 'metric' # C 'metrics',  F 'imperial', K 'standartd' efault
lang = 'pl' # Field 'description' wil be translated
api_key = 'e4bdbda3f1871fe8b7ebffc46c9f7db6'
api_url = f'https://api.openweathermap.org/data/2.5/weather?q={city_name}&APPID={api_key}&units={units}&lang={lang}'

In [83]:
response = requests.get(api_url)
print(response)

<Response [200]>

In [84]:
data = response.json()
print(data)

{'coord': {'lon': 21.0118, 'lat': 52.2298}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'bezchmurnie', 'icon': '01d'}], 'base': 'stations', 'main': {'temp': 6.78, 'feels_like': 4.56, 'temp_min': 5.68, 'temp_max': 8.08, 'pressure': 1015, 'humidity': 77, 'sea_level': 1015, 'grnd_level': 1004}, 'visibility': 10000, 'wind': {'speed': 3.13, 'deg': 160, 'gust': 0}, 'clouds': {'all': 0}, 'dt': 1732615541, 'sys': {'type': 2, 'id': 2032856, 'country': 'PL', 'sunrise': 1732601744, 'sunset': 1732631480}, 'timezone': 3600, 'id': 756135, 'name': 'Warszawa', 'cod': 200}

In [102]:
pd.json_normalize(data)

,weather,base,visibility,dt,timezone,id,name,cod,coord.lon,coord.lat,main.temp,main.feels_like,main.temp_min,main.temp_max,main.pressure,main.humidity,main.sea_level,main.grnd_level,wind.speed,wind.deg,wind.gust,clouds.all,sys.type,sys.id,sys.country,sys.sunrise,sys.sunset
0,"[{'id': 800, 'main': 'Clear', 'description': '...",stations,10000,1732615541,3600,756135,Warszawa,200,21.0118,52.2298,6.78,4.56,5.68,8.08,1015,77,1015,1004,3.13,160,0,0,2,2032856,PL,1732601744,1732631480

In [98]:
pd.json_normalize(data['weather'])

    id   main  description icon
0  800  Clear  bezchmurnie  01d

In [99]:
pd.json_normalize(data['main'])

,temp,feels_like,temp_min,temp_max,pressure,humidity,sea_level,grnd_level
0,6.78,4.56,5.68,8.08,1015,77,1015,1004

In [85]:
data_json = json.dumps(data, indent=4)
print(data_json)

{
    "coord": {
        "lon": 21.0118,
        "lat": 52.2298
    },
    "weather": [
        {
            "id": 800,
            "main": "Clear",
            "description": "bezchmurnie",
            "icon": "01d"
        }
    ],
    "base": "stations",
    "main": {
        "temp": 6.78,
        "feels_like": 4.56,
        "temp_min": 5.68,
        "temp_max": 8.08,
        "pressure": 1015,
        "humidity": 77,
        "sea_level": 1015,
        "grnd_level": 1004
    },
    "visibility": 10000,
    "wind": {
        "speed": 3.13,
        "deg": 160,
        "gust": 0
    },
    "clouds": {
        "all": 0
    },
    "dt": 1732615541,
    "sys": {
        "type": 2,
        "id": 2032856,
        "country": "PL",
        "sunrise": 1732601744,
        "sunset": 1732631480
    },
    "timezone": 3600,
    "id": 756135,
    "name": "Warszawa",
    "cod": 200
}

In [86]:
a = data['weather'][0]
print(a)

{'id': 800, 'main': 'Clear', 'description': 'bezchmurnie', 'icon': '01d'}

In [87]:
aa = data['weather'][0]['description']
print(aa)

bezchmurnie

In [89]:
b = data['name']
print(b)

Warszawa

In [88]:
c = data['main']['temp']
print(f'Temperatura: {c}')

Temperatura: 6.78

In [92]:
print(f'{b}: dzisiaj jest {c} stopni C i jest {aa}')

Warszawa: dzisiaj jest 6.78 stopni C i jest bezchmurnie